<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
        rel="stylesheet">
</head>

<!-- Esta componente contiene el header (logo y navbar) -->
<nav class="navbar navbar-expand-xl">
    <div class="container" id="barra">
        <!-- Contenedor del logo alineado a la izquierda -->
        <a class="navbar-brand" routerLink="/">
            <img src="assets/images/logo/logoFinal.png" id="logo" alt="Logo de nuestra empresa Bambú">
        </a>
        <!-- Botón de hamburguesa -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Enlaces alineados a la derecha -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav gap-4">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/carta">CARTA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/reservar">RESERVAR</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/carrito-compra">PEDIR</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">INICIAR SESIÓN</a>
                </li>
            </ul>
        </div>
    </div>
</nav>