//Variables
$primary-color: #446F5A;
$secondary-color: #3D3D3D;
$terciary-color: #F86649;

//Estilo de la barra de navegación
nav{
    background-color: $secondary-color;
}

#barra{
    display: flex;
}

.nav-link{
    background-color: $primary-color;
    color: white;
    border-radius: 7.5px;
    padding: 1rem; 
    min-width: 160px;
    text-align: center;
    font-size: 20px;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all .5s;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
    outline: none;
    font-weight: bold;
}

.navbar-nav .nav-item {
    margin: 0 15px; 
}

//Animación de los enlaces
.nav-link span{
    position: absolute;
    display: block;
}

.nav-link:hover{
    transition: all .5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}

.nav-link:focus {
    outline: 2px solid #ffffff; 
    background-color: darken($primary-color, 10%); 
    color: #FFF; 
    transform: rotate(0deg) scale(1.05); 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); 
    transition: all 0.3s ease; 
}

.nav-link:hover span{
    animation-play-state: paused;
}

//Estilo del botón de hamburguesa
.navbar-toggler {
    border-color: white;
}

//Estilo del botón hamburguesa
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler:focus{
    color: white;
}

//Media query para botones de navegación
@media (max-width: 1199px){
    .nav-link{
        max-width: 50%;
        margin-left: 25%;
    }
}

//Media query para logo y navegación
@media (max-width: 576px) {
    #logo {
        max-width: 75%; 
    }
    .nav-link{
        font-size: 16px;
    }
}




