 <!-- Seccion de footer -->
  
<div class="container-fluid" id="piePagina">
    <div class="container text-center align-items-center">
        <div class="row" id="fila1">
            <div class="col-6 d-flex flex-column justify-content-center">
                <h2>Bambú</h2>
                 <!-- Te redirige a la carta -->
                <a routerLink="/ayuda" class="enlacesFooter">Preguntas frecuentes (FAQs)</a>
                 <!-- Te redirige a reserva -->
                <a routerLink="/politica-privacidad" class="enlacesFooter">Política de privacidad</a>
            </div>
             <!-- Información de contacto -->
            <div class="col-6 d-flex flex-column justify-content-center">
                <h2>Contacto</h2>
                <p>grupobambusushi @gmail.com</p>
                <p>955 35 53 33</p>
            </div>
        </div>
         <!-- Nombre de la empresa y Copyright -->
        <div class="row">
            <p>&copy; Bambú Copyright 2024 | <a href="/aviso-legal">Aviso Legal</a></p>
        </div>
    </div>
</div>
