<div class="container-fluid" id="piePagina">
    <div class="container text-center align-items-center">
        <div class="row">
            <div class="col-6 d-flex flex-column justify-content-center">
                <h5>Bambú</h5>
                <p>Carta Restaurante</p>
                <p>Reservas</p>
            </div>
            <div class="col-6 d-flex flex-column justify-content-center">
                <h5>Contacto</h5>
                <p>grupobambú@gmail.com</p>
                <p>955 35 53 33</p>
            </div>
        </div>
        <div class="row">

            <p>Bambú Copyright 2024</p>
  
        </div>
    </div>
</div>
