//Variables
$primary-color: #58A681;
$secondary-color: #3D3D3D;
$terciary-color: #F96D50;

#piePagina{
    background-color: $secondary-color;
    color: white;
}

#fila1{
    padding-top: 4%;
    padding-bottom: 4%;
}

h4{
    font-weight: bold;
}

.enlacesFooter{
    text-decoration: none;
    color: white;
    margin-top: 2%;
}

p{
    margin-bottom: 0;
}