 <!-- Seccion de footer -->
  
<div class="container-fluid" id="piePagina">
    <div class="container text-center align-items-center">
        <div class="row" id="fila1">
            <div class="col-6 d-flex flex-column justify-content-center">
                <h4>Bambú</h4>
                 <!-- Te redirige a la carta -->
                <a routerLink="/carta" class="enlacesFooter">Carta Restaurante</a>
                 <!-- Te redirige a reserva -->
                <a routerLink="/reservar" class="enlacesFooter">Reservar</a>
            </div>
             <!-- Información de contacto -->
            <div class="col-6 d-flex flex-column justify-content-center text-center">
                <h4>Contacto</h4>
                <p>grupobambú @gmail.com</p>
                <p>955 35 53 33</p>
            </div>
        </div>
         <!-- Nombre de la empresa y Copyright -->
        <div class="row">
            <p>&copy; Bambú Copyright 2024</p>
        </div>
    </div>
</div>
