//Variables
$primary-color: #446F5A;
$secondary-color: #3D3D3D;
$terciary-color: #E22D08;

#piePagina{
    background-color: $secondary-color;
    color: white;
}

#fila1{
    padding-top: 4%;
    padding-bottom: 4%;
}

h4{
    font-weight: bold;
}

.enlacesFooter{
    text-decoration: none;
    color: white;
    margin-top: 2%;
}

p{
    margin-bottom: 0;
    margin-top: 2%;
}