//Variables
$primary-color: #446F5A;
$secondary-color: #3D3D3D;
$terciary-color: #E22D08;


.privacy-policy {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: $terciary-color;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
}

h2 {
  color: $primary-color;
  margin-top: 15px;
  font-size: 22px;
  font-weight: bold;
}

p {
  line-height: 1.5;
}

.privacy-policy ul {
  padding-left: 20px;
}

.privacy-policy ul li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

.privacy-policy a:hover {
  text-decoration: underline;
}