//Variables
$primary-color: #58A681;
$secondary-color: #3D3D3D;
$terciary-color: #F96D50;

#seccion{
    margin-top: 2%;
    margin-bottom: 2%;
}

label{
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap; 
}

.required-asterisk{
    color: $terciary-color;
    margin-left: 5%;
}

input {
    margin-bottom: 2%;
    transition: border-color 0.3s ease; /* Animación suave solo para el borde */
}

//Estilo para el focus de los inputs
input:focus{
    outline: none; 
    border: 2px solid $primary-color;
    box-shadow: 0 0 5px rgba(88, 166, 129, 0.8); 
}

.btn{
    background-color: $primary-color;
    color: white;
    padding: 1rem 2rem;
    margin-bottom: 2%;
    font-weight: bold;
}