//Variables
$primary-color: #58A681;
$secondary-color: #3D3D3D;
$terciary-color: #F96D50;


.ocultar {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}


#seccion{
    margin-top: 2%;
    margin-bottom: 2%;
}

label{
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap; 
}

input{
    margin-bottom: 2%;
}

.login{
    margin-left: 20%;
    margin-right: 20%;
}

.required-asterisk{
    color: $terciary-color;
    margin-left: 5%;
}

.btn{
    background-color: $primary-color;
    color: white;
    padding: 1rem 2rem;
    margin-bottom: 2%;
    font-weight: bold;
}

.opcionRegistrar{
    text-decoration: none;
    color: $terciary-color;
    font-weight: bold;
}

input {
    margin-bottom: 2%;
    transition: border-color 0.3s ease; /* Animación suave solo para el borde */
}
input:focus{
    outline: none; 
    border: 2px solid #58A681;
    box-shadow: 0 0 5px rgba(88, 166, 129, 0.8); 
}

//Animación de los enlaces
.btn span{
    position: absolute;
    display: block;
}

.btn:hover{
    transition: all .5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}

.btn:focus {
    outline: 2px solid #000000; 
    background-color: darken($primary-color, 10%); 
    color: #FFF; 
    transform: rotate(0deg) scale(1.05); 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); 
    transition: all 0.3s ease; 
}

.btn-:hover span{
    animation-play-state: paused;
}