<!-- Sección 1 -> Carrusel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/images/inicio/carruselFoto1.jpg" class="d-block w-100" alt="Primera foto del carrusel, un variado de sushi">
        </div>
        <div class="carousel-item">
            <img src="assets/images/inicio/carruselFoto2.jpg" class="d-block w-100" alt="Segunda foto del carrusel, un variado de sushi">
        </div>
        <div class="carousel-item">
            <img src="assets/images/inicio/carruselFoto3.jpg" class="d-block w-100" alt="Tercera foto del carrusel, un variado de sushi">
        </div>
        <div class="carousel-item">
            <img src="assets/images/inicio/carruselFoto4.jpg" class="d-block w-100" alt="Cuarta foto del carrusel, un variado de sushi">
        </div>
    </div>

    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>

<!--Sección 2-->
<div class="container" id="seccion">
    <div class="row align-items-center justify-content-center">
        <div class="col-6">
            <img src="assets/images/inicio/close-up-person-eating-sushi.jpg" class="img-fluid" alt="Persona probando nuestra comida">
        </div>
        <div class="col-6">
            <p>Cada plato cuenta una historia de tradición y equilibrio.<br>

                Inspirados por la resiliencia del bambú, nuestros chefs fusionan ingredientes frescos y técnicas
                milenarias de
                la cocina asiática, creando experiencias gastronómicas que fluyen entre lo sutil y lo poderoso.</p>
        </div>
    </div>
</div>

<!--Sección 3-->
<div class="container" id="seccion">
    <div class="row align-items-center justify-content-center">
        <div class="col-4">
            <p>Exploramos el arte de la simplicidad y la profundidad de los sabores asiáticos.
                Ven y disfruta de una cocina que, como el bambú, se adapta y resurge en cada temporada.</p>
        </div>
        <div class="col-4">
            <img src="assets/images/inicio/izquierdaEditada.jpg" class="img-fluid" alt="Foto de muestra de nuestros productos">
        </div>
        <div class="col-4">
            <img src="assets/images/inicio/derechaEditada.jpg" class="img-fluid" alt="Foto de muestra de nuestros mejores productos">
        </div>
    </div>
</div>


<!--Sección 4-->
<div class="container" id="seccion">
    <h2>RESTAURANTES</h2>
    <div class="row">
        <div class="col-6 justify-content-center align-items-center">
            <img src="assets/images/inicio/sevillaeditada.jpg" class="restaurante" alt="Foto difuminada de nuestro local en Sevilla">
            <div>
                <h3>SEVILLA</h3>
                <div class="datosLocales">
                    <img src="assets/images/iconos/marcador-de-posicion.png" id="icono" alt="Icono de ubicación">
                    <p>Avenida de Ramón y Cajal 5, 41005</p>
                </div>
                <div class="datosLocales">
                    <img src="assets/images/iconos/telefono.png" id="icono" alt="Icono de teléfono">
                    <p>954 17 71 77</p>
                </div>
            </div>
        </div>
        <div class="col-6 justify-content-center align-items-center">
            <img src="assets/images/inicio/utreraeditada.jpg" class="restaurante" alt="Foto difuminada de nuestro local en Utrera">
            <div>
                <h3>UTRERA</h3>
                <div class="datosLocales">
                    <img src="assets/images/iconos/marcador-de-posicion.png" id="icono" alt="Icono de ubicación">
                    <p>Avenida de María Auxiliadora 80, 41710</p>
                </div>
                <div class="datosLocales">
                    <img src="assets/images/iconos/telefono.png" id="icono" alt="Icono de teléfono">
                    <p>954 19 91 99</p>
                </div>
            </div>
        </div>
    </div>

    
</div>