.carousel-inner {
    height: 550px; 
}

/* Ajuste de las imágenes dentro del carrusel */
.carousel-inner img {
    width: 100%; 
    height: 550px; 
    object-fit: cover; 
}


@media (max-width: 767px) {
    .carousel-inner {
        height: auto; 
    }

    .carousel-inner img {
        width: 100%; 
        height: auto; 
        object-fit: contain; /* Asegura que la imagen mantenga su proporción */
    }
}


#seccion{
    margin-top: 4%;
    margin-bottom: 4%;
}

h2{
    font-weight: bold;
    text-align: center;
    margin-bottom: 3%;
}

h3{
    font-weight: bold;
    text-align: center;
}

#icono{
    margin-right: 1.5%;
}

.datosLocales{
    display: flex;
    align-items: center;
    justify-content: center;
}

.restaurante{
    display: block;
    margin: auto;
    margin-bottom: 2%;
}

p{
    margin-bottom: 0;
    margin-top: 2%;
}

.textoIntroductorio{
    font-size: 20px;
}