//Variables
$primary-color: #446F5A;
$secondary-color: #3D3D3D;
$terciary-color: #E22D08;


.ocultar {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

//Estilo correspondiente a Sección 1 -> Carrusel
.carousel-inner {
    height: 550px; 
}

.carousel-inner img {
    width: 100%; 
    height: 550px; 
    object-fit: cover; 
}

#seccion{
    margin-top: 4%;
    margin-bottom: 4%;
}

//Estilo correspondiente a Sección 4 -> Datos de los locales
h2{
    font-weight: bold;
    text-align: center;
    margin-bottom: 3%;
}

h3{
    font-weight: bold;
    text-align: center;
}

#icono{
    margin-right: 1.5%;
}

.datosLocales{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.restaurante{
    display: block;
    margin: auto;
    margin-bottom: 2%;
    max-width: 100%;
    height: auto;
}

p{
    margin-bottom: 0;
    margin-top: 2%;
}

.textoIntroductorio{
    font-size: 20px;
}

@media (max-width: 767px) {
    .carousel-inner {
        height: auto; 
    }

    .carousel-inner img {
        width: 100%; 
        height: auto; 
        object-fit: contain;
    }
}