//Variables
$primary-color: #58A681;
$secondary-color: #3D3D3D;
$terciary-color: #F96D50;


//Estilos barra navegación de categorías
.navbar-nav {
    margin-top: 2%;
    width: 100%;
    white-space: nowrap;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-evenly;
}

//Animaciones barra navegación de categorías
.nav-link{
    color: $primary-color;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-weight: bold;
}

.nav-link:after{
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: $terciary-color;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-link:hover:after{
    width: 100%; 
    left: 0;
}

.nav-link:hover {
    color: $terciary-color;
}

//Estilo de los Productos
#titulo {
    padding: 1%;
    color: $terciary-color;
    font-weight: bold;
    text-align: center;
}

#filaGrande{
    padding-top: 3%;
    padding-bottom: 3%;
}

.iconos {
    width: 41px;
    height: 41px;
    transition: all 0.3s ease;
}

.iconos:hover{
    content: url(../../assets/images/iconos/carrito-de-compras-añadir-naranja.png);
    cursor: pointer;
}

.iconosCarrito:hover{
    cursor: pointer;
}

.col-md-6 {
    margin-bottom: 3%;
    display: flex;
    padding: 1%;
    align-items: center;
}

.infoProducto {
    padding: 3%;
    font-weight: bold;
    text-align: left; 
}

.imagenes__productos{
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(0, 0, 0, 0.06);
    transition: transform 0.3s ease;
}

.imagenes__productos img {
    border-radius: 10%;
}

.precio__producto {
    color: $primary-color;
}

//Animación de la imagen de cada producto
.imagenes__productos:hover {
    transform: scale(1.05);
}

//Info carrito
.pedido-item{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 10px;
    justify-content: flex-start; 
}

.pedido-nombre{
    width: 200px;
    align-items: left !important;
}

.pedido-precio {
    width: 80px; /* Ancho fijo para los precios */
    text-align: right; /* Alinea el precio a la derecha */
}

.pedido-cantidad {
    width: 50px; /* Ancho fijo para la cantidad */
    text-align: center; /* Centra la cantidad */
}


//Botón de Carrito de compra en pantallas reducidas
.btnCarrito{
    background-color: $primary-color;
    border: none;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 7.5px;
    font-weight: bold;
}

.divBtnCarrito{
    text-align: center;
    padding: 3% 3%;
    display: none;
}

hr{
    opacity: 1;
    background-color: black;
}

.encabezado {
    background-color: $secondary-color;
    color: white;
    padding: 1%;
    font-size: 120%;
    text-align: center;
}

.mensajeInicial {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin-top: 3%;
    font-weight: bold;
}

#precios{
    display: grid;
    
}

.precio__subtotal, .precio__final{
    display: flex;
    align-items: center;
    margin-left: 3%;
    margin-right: 3%;
    justify-content: space-between;
}

.pagar{
    text-align: center;
}

.btnPagar{
    background-color: $primary-color;
    padding: 0.5rem 5rem;
    border: none;
    border-radius: 7.5px;
    margin-top: 2%;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: white;
}

//Media query para dispositivos móviles
@media (max-width: 992px) {
    .col-md-6{
        display: block;
        align-items: center;     
    }

    .infoProducto{
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;
        text-align: center !important;
        font-weight: bold;
    }

    .infoProducto p{
        margin: 0 !important;
    }
}

//Media query para Carrito de la compra
@media (max-width: 768px) { // Mostrar solo en pantallas pequeñas
    .divBtnCarrito{
        display: block;
        position: sticky;
        top: 3%; // Fijo en la parte superior
        padding: 1rem; 
        z-index: 1000;
        margin-top: 10 px;
    }

    .infoProducto{
        display: flex;
        flex-direction: column;
    }

    .pedido-nombre, .pedido-precio, .pedido-cantidad{
        width: auto;
    }

}

  