<div class="container">
    <div class="enlaces">
        <ul>
            <a href="/carrito-compra" class="enlaces" (click)="filtrarPorCategoria($event, 'SURTIDOS')">
                <li>SURTIDOS</li>
            </a>

            <a href="/carrito-compra">
                <li>ENTRANTES</li>
            </a>

            <a href="/carrito-compra" class="enlaces" (click)="filtrarPorCategoria($event, 'ARROZ Y NOODLES')">
                <li>ARROZ Y NOODLES</li>
            </a>

            <a href="/carrito-compra">
                <li>NIGIRIS</li>
            </a>

            <a href="/carrito-compra">
                <li>ROLLS</li>
            </a>

            <a href="/carrito-compra">
                <li>MAKIS</li>
            </a>

            <a href="/carrito-compra">
                <li>POSTRES</li>
            </a>
        </ul>
    </div>

    <h2 id="titulo">{{ categoria }}</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-8 text-center">
                <div class="row" id="espaciador">
                    <!-- Genero dinámicamente los productos -->
                    <div class="col-12 col-md-6 text-center" *ngFor="let producto of productos" >
                        <div class="imagenes__productos">
                            <img [src]="producto.urlImg" [alt]="producto.nombre" [title]="producto.nombre" />
                        </div>
                        <div class="infoProducto">
                            <p>{{ producto.nombre }}</p>
                            <p class="precio__producto">{{ producto.precio }}</p>
                            <img [src]="producto.urlIcono" alt="Añadir al carrito" class="iconos" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="encabezado">
                    <p><strong>TU PEDIDO</strong></p>
                </div>

                <div class="mensajeInicial">
                    <div>SURTIDO Nº1</div>
                    <img src="assets/images/iconos/signo más.png" alt="Icono de añadir más productos">
                    <div>1</div>
                    <img src="assets/images/iconos/signo-menos.png" alt="Icono de quitar productos">
                    <div>18.50€</div>
                </div>

                <hr>

                <div id="precios">
                    <div class="precio__final">
                        <p>Subtotal:</p>
                        <p>18.50€</p>
                    </div>
                    <div class="precio__final">
                        <p>Total:</p>
                        <p>18.50€</p>
                    </div>
                </div>

                <div style="text-align: center;">
                    <button class="btnPagar"><a href="https://buy.stripe.com/test_7sIcOgf0h4A2gYo9AA">Ir a pagar</a></button>
                </div>
            </div>
        </div>
    </div>
</div>