.iconos{
    width: 41px;
    height: 41px;
}

.col-md-6{
    display: flex;
    padding: 1%;
    align-items: center;
}

.infoPoducto{
    padding: 5%;
    background-color: red;
    text-align: center;
}