//Variables
$primary-color: #58A681;
$secondary-color: #3D3D3D;
$terciary-color: #F96D50;


//Estilos barra navegación
.enlaces ul {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-top: 1%;
    list-style-type: none;
    gap: 3%;

}

.enlaces ul a {
    text-decoration: none;
    color: $primary-color;
    font-weight: bold;
    margin-top: 2%;
    position: relative;
}

.enlaces ul a::after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: $terciary-color;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.enlaces ul a:hover:after{
    width: 100%; 
    left: 0;
}

.enlaces ul a:hover {
    color: $terciary-color;
}

#titulo {
    padding: 1%;
    color: $terciary-color;
    font-weight: bold;
}


//Estilos pruductos
.iconos {
    width: 41px;
    height: 41px;
    transition: all 0.3s ease;
}

.iconos:hover{
    content: url(../../assets/images/iconos/carrito-de-compras-añadir-naranja.png);
}

.col-md-6 {
    display: flex;
    padding: 1%;
    align-items: center;
}

.infoProducto {
    padding: 3%;
    font-weight: bold;
    text-align: left;
}


.imagenes__productos img {
    border-radius: 10%;
    transition: transform 0.3s ease;
}

.imagenes__productos img:hover {
    transform: scale(1.05);
}

.precio__producto {
    color: $primary-color;
}


//Estilos parte del resumen de la compra
hr{
    opacity: 1;
    background-color: black;
}

.encabezado {
    background-color: $secondary-color;
    color: white;
    padding: 1%;
    font-size: 120%;
    text-align: center;
}

.mensajeInicial {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin-top: 3%;
    font-weight: bold;
}

.button {
    background-color: $primary-color;
    color: white;
    margin-top: 5%;
    padding: 3%;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

#precios{
    display: grid;
    
}

.precio__final{
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    margin-left: 10%;
}

.btnPagar{
    background-color: $primary-color;
    padding: 0.5rem 5rem;
    border: none;
    border-radius: 7.5px;
    margin-top: 2%;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: white;
}