<div id="disposicion">
    <div class="enlaces">
        <ul>
            <a href="" class="enlaces">
                <li>SURTIDOS</li>
            </a>

            <a href="">
                <li>ENTRANTES</li>
            </a>

            <a href="" class="enlaces">
                <li>ARROZ Y NOODLES</li>
            </a>

            <a href="">
                <li>NIGIRIS</li>
            </a>

            <a href="">
                <li>ROLLS</li>
            </a>

            <a href="">
                <li>MAKIS</li>
            </a>

            <a href="">
                <li>POSTRES</li>
            </a>
        </ul>
    </div>

    <h2 id="titulo">SURTIDOS</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-8 text-center">
                <div class="row">
                    <div class="col12 col-md-6 text-center">
                        <div class="imagenes__productos">
                            <img src="assets/images/productos/SURTIDO1-300x300.jpg" alt="">
                        </div>
                        <div class="infoPoducto">
                            <p>SURTIDO Nº1</p>
                            <p class="precio__producto">18.50€</p>
                            <img src="assets/images/iconos/carrito-aniadir.png" alt="" class="iconos"
                                id="btnAddCarrito">
                        </div>
                    </div>

                    <div class="col12 col-md-6 text-center">
                        <div class="imagenes__productos">
                            <img src="https://placehold.co/195x195/png" alt="">
                        </div>
                        <div class="infoPoducto">
                            <p>SURTIDO Nº2</p>
                            <p class="precio__producto">18.50€</p>
                            <img src="assets/images/iconos/carrito-aniadir.png" alt="" class="iconos">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col12 col-md-6 text-center">
                        <div class="imagenes__productos">
                            <img src="https://placehold.co/195x195/png" alt="">
                        </div>
                        <div class="infoPoducto">
                            <p>SURTIDO Nº3</p>
                            <p class="precio__producto">18.50€</p>
                            <img src="assets/images/iconos/carrito-aniadir.png" alt="" class="iconos">
                        </div>
                    </div>

                    <div class="col12 col-md-6 text-center">
                        <div class="imagenes__productos">
                            <img src="https://placehold.co/195x195/png" alt="">
                        </div>
                        <div class="infoPoducto">
                            <p>SURTIDO Nº4</p>
                            <p class="precio__producto">22.50€</p>
                            <img src="assets/images/iconos/carrito-aniadir.png" alt="" class="iconos">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col12 col-md-6 text-center">
                        <div class="imagenes__productos">
                            <img src="https://placehold.co/195x195/png" alt="">
                        </div>
                        <div class="infoPoducto">
                            <p>SURTIDO Nº5</p>
                            <p class="precio__producto">16.90€</p>
                            <img src="assets/images/iconos/carrito-aniadir.png" alt="" class="iconos">
                        </div>
                    </div>

                    <div class="col12 col-md-6 text-center">
                        <div class="imagenes__productos">
                            <img src="https://placehold.co/195x195/png" alt="">
                        </div>
                        <div class="infoPoducto">
                            <p>SURTIDO Nº6</p>
                            <p class="precio__producto">18.50€</p>
                            <img src="assets/images/iconos/carrito-aniadir.png" alt="" class="iconos">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div id="alineador">
                    <div class="encabezado">
                        <p>TU PEDIDO</p>
                    </div>
                    <div class="mensajeInicial">
                        <div>Maki Aguacate</div>
                        <img src="assets/images/iconos/signo más.png" alt="">
                        <div>1</div>
                        <img src="assets/images/iconos/signo-menos.png" alt="">
                        <div>4.50€</div>
                    </div>

                    <hr>

                    <div id="precios">
                        <div>Subtotal: (precio)</div>
                        <div>Total: (precio)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>