 <!-- Barra de navegación de Categorías -->

<div class="container">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/surtidos" (click)="filtrarPorCategoria($event, 'SURTIDOS')">Surtidos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/carta" (click)="filtrarPorCategoria($event, 'ENTRANTES')">Entrantes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/carta" (click)="filtrarPorCategoria($event, 'ARROZ Y NOODLES')">Arroz y noodles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/carta" (click)="filtrarPorCategoria($event, 'NIGIRIS')">Nigiris</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/carta" (click)="filtrarPorCategoria($event, 'ROLLS')">Rolls</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/carta" (click)="filtrarPorCategoria($event, 'MAKIS')">Makis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/carta" (click)="filtrarPorCategoria($event, 'BEBIDAS')">Bebidas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/carta" (click)="filtrarPorCategoria($event, 'POSTRES')">Postres</a>
            </li>
        </ul>

    <div class="container-fluid">
        <div class="row" id="filaGrande">
            <!--Columna de Productos a la Derecha-->
            <div class="col-12 col-lg-8">
                <h3 id="titulo">{{ categoria }}</h3>
                <div class="row">
                    <!-- Genero dinámicamente los productos -->
                    <div class="col-md-6 mb-4" *ngFor="let producto of productos">
                        <div class="imagenes__productos">
                            <img [src]="producto.urlImg" [alt]="producto.nombre" [title]="producto.title" />
                        </div>
                        <div class="infoProducto">
                            <p>{{ producto.nombre }}</p>
                            <p class="precio__producto">{{ producto.precio }}</p>
                            <img [src]="producto.urlIcono" alt="Añadir al carrito" class="iconos" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- Simulación de Resumen en Carrito de Compra. Columna Izquierda-->
            <div class="col-12 col-lg-4">
                <div class="encabezado">
                    <p><strong>TU PEDIDO</strong></p>
                </div>

                <div class="mensajeInicial">
                    <div>SURTIDO Nº1</div>
                    <img src="assets/images/iconos/signo más.png" alt="Icono de añadir más productos">
                    <div>1</div>
                    <img src="assets/images/iconos/signo-menos.png" alt="Icono de quitar productos">
                    <div>18.50€</div>
                </div>

                <hr>

                <div id="precios">
                    <div class="precio__final">
                        <p>Subtotal:</p>
                        <p>18.50€</p>
                    </div>
                    <div class="precio__final">
                        <p>Total:</p>
                        <p>18.50€</p>
                    </div>
                </div>

                <div style="text-align: center;">
                    <button class="btnPagar"><a href="https://buy.stripe.com/test_7sIcOgf0h4A2gYo9AA">Ir a
                            pagar</a></button>
                </div>
            </div>
        </div>
    </div>
</div>