//Variables
$primary-color: #58A681;
$secondary-color: #3D3D3D;
$terciary-color: #F96D50;


.source-sans-3{
    font-family: "Source Sans 3", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Estilo de Barra de navegación de Categorías */
.navbar-nav {
    margin-top: 2%;
    width: 100%;
    white-space: nowrap;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-evenly;

}

.nav-link{
    color: $primary-color;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-weight: bold;
}

//Animación Barra de Navegación de Categorías
.nav-link:after{
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: $terciary-color;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-link:hover:after{
    width: 100%; 
    left: 0;
}

.nav-link:hover {
    color: $terciary-color;
}

// Estilo de un Producto
h1 {
    color: $terciary-color;
    margin: 1rem 0 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.menu-grid {
    padding: 2rem 0;
}

.menu-item {
    text-align: center;
    transition: transform 0.3s ease;
    background-color: #f9f9f9;
    padding: 15px;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(0, 0, 0, 0.06)
}

.menu-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.menu-item:hover img {
    transform: scale(1.05);
}

.menu-item h2 {
    font-size: 1.2rem;
    margin-top: 0.8rem;
}

.menu-item p {
    color: #27ae60;
    font-weight: bold;
    font-size: 1.1rem;
}

.btn-primary{
    background-color: $primary-color;
    border: none;
}

.btn-primary:hover{
    background-color: $terciary-color;
}

.btn-primary:focus {
    outline: 2px solid #000000; 
    background-color: darken($primary-color, 10%); 
    color: #FFF; 
    transform: rotate(0deg) scale(1.05); 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); 
    transition: all 0.3s ease; 
}


//Estilos del modal
.modal-body p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
}

.modal-body .precio{
    font-weight: bold;
    color: $primary-color;
}

.btn-secondary{
    background-color: $primary-color;
    border: none;
}

.btn-secondary:hover{
    background-color: $terciary-color;
}
