//Variables
$primary-color: #58A681;
$secondary-color: #3D3D3D;
$terciary-color: #F96D50;

.ocultar {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

h2{
    margin-top: 2%;
    margin-bottom: 2%;
}

.opcionesReserva{
    border: 3px solid $secondary-color;
    border-radius: 10px;
    margin-bottom: 2%;
    padding: 3%;
}

.btn{
    background-color: $primary-color;
    color: white;
    padding: 1rem 2rem;
    margin-bottom: 2%;
}

//Estilo del focus de los select y de los inputs
.opcionesReserva select:focus, 
.opcionesReserva input:focus {
    outline: none; 
    border: 2px solid $primary-color; 
    box-shadow: 0 0 5px rgba(88, 166, 129, 0.8); 
}

.opcionesReserva select option:hover {
    background-color: $primary-color;
    color: white;
}

//Estilo Mensaje de Confirmación
.mensaje-confirmacion {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    padding: 3rem 4rem;
    border-radius: 8px;
    border: 3px solid $primary-color;
    text-align: center;
    font-size: 1.2rem;
}

//Animación de los enlaces
.btn span{
    position: absolute;
    display: block;
}

.btn:hover{
    transition: all .5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}

.btn:hover span{
    animation-play-state: paused;
}


.btn:focus {
    outline: 2px solid #000000; 
    background-color: darken($primary-color, 10%); 
    color: #FFF; 
    transform: rotate(0deg) scale(1.05); 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); 
    transition: all 0.3s ease; 
}

.modalReserva{
    font-size: 18px;
}