<section class="faq-section">
  <h2>Preguntas Frecuentes</h2>
  
  <div class="faq-container" style="margin-bottom: 20px;">
      <div class="faq-item">
          <h3>¿Cuáles son los horarios de apertura?</h3>
          <p>Estamos abiertos de lunes a domingo de 12:00 p.m. a 11:00 p.m.</p>
      </div>
  </div>
  
  <div class="faq-container" style="margin-bottom: 20px;">
      <div class="faq-item">
          <h3>¿Ofrecen opciones vegetarianas?</h3>
          <p>Sí, contamos con una variedad de opciones vegetarianas en nuestro menú.</p>
      </div>
  </div>
  
  <div class="faq-container" style="margin-bottom: 20px;">
      <div class="faq-item">
          <h3>¿Cómo puedo hacer una reserva?</h3>
          <p>Puedes hacer tu reserva a través de nuestra página web en la sección "Reservar".</p>
      </div>
  </div>
  
  <div class="faq-container" style="margin-bottom: 20px;">
      <div class="faq-item">
          <h3>¿Tienen servicio a domicilio?</h3>
          <p>Sí, realizamos entregas a domicilio. Puedes hacer tu pedido en la sección "Pedir".</p>
      </div>
  </div>
  
  <div class="faq-container" style="margin-bottom: 20px;">
      <div class="faq-item">
          <h3>¿Aceptan pagos con tarjeta?</h3>
          <p>Sí, aceptamos tarjetas de crédito y débito, así como pagos en efectivo.</p>
      </div>
  </div>
</section>