<section class="faq-section">
    <h1>Preguntas Frecuentes</h1>

    <div class="faq-container">
        <div class="faq-item">
            <h2>¿Es necesario registrarse para hacer un pedido o una reserva?</h2>
            <p>Sí, para garantizar una mejor experiencia y agilizar el proceso, es necesario estar registrado antes de
                realizar reservas o pedidos para recoger.</p>
        </div>
    </div>

    <div class="faq-container">
        <div class="faq-item">
            <h2>¿Cómo puedo hacer una reserva?</h2>
            <p>Para realizar una reserva, debes estar registrado en nuestra página web.
                Una vez dentro, accede a la sección de "Reservar", elige el local, la fecha, la hora y el número de
                personas.
                Recibirás un correo de confirmación con un resumen de la reserva. También puedes hacer reservas llamando
                directamente a nuestro restaurante.</p>
        </div>
    </div>

    <div class="faq-container">
        <div class="faq-item">
            <h2>¿Cómo puedo hacer un pedido para recoger en el local?</h2>
            <p>Para realizar un pedido para recoger, debes estar registrado en nuestra página web.
                Una vez dentro, accede a la sección de "Pedir" y selecciona los platos que deseas y elige en que local
                quieres recogerlo.</p>
        </div>
    </div>

    <div class="faq-container">
        <div class="faq-item">
            <h2>¿Qué métodos de pago aceptan?</h2>
            <p>Solo aceptamos pagos con tarjeta de crédito y débito a través de nuestra plataforma online. No aceptamos
                pagos en efectivo.</p>
        </div>
    </div>

    <div class="faq-container">
        <div class="faq-item">
            <h2>Olvidé mi contraseña, ¿cómo la recupero?</h2>
            <p>No es posible recuperar la contraseña olvidada, pero puedes cambiarla accediendo a la configuración de tu
                cuenta y seleccionando la opción para establecer una nueva contraseña.</p>
        </div>
    </div>

    <div class="faq-container">
        <div class="faq-item">
            <h2>¿Dónde puedo ver la carta?</h2>
            <p>Puedes consultar nuestra carta completa en la sección "Carta" de nuestra página web. Ahí encontrarás
                la amplia variedad de platos que ofrecemos.</p>
        </div>
    </div>

    <div class="faq-container">
        <div class="faq-item">
            <h2>¿Cuáles son los horarios de apertura?</h2>
            <p>Estamos abiertos de martes a domingo de 13:30 a 16:30 y de 20:30 a 23:00.</p>
        </div>
    </div>

    <div class="faq-container">
        <div class="faq-item">
            <h2>¿Ofrecen opciones vegetarianas?</h2>
            <p>Sí, contamos con una variedad de opciones vegetarianas en nuestro carta.</p>
        </div>
    </div>

</section>