.faq-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;

    border-radius: 10px;

  }
  
  .faq-section h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .faq-item {
    padding: 10px;
  }
  
  .faq-item h3 {
    color: #444;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .faq-item p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
  }


  .faq-container {
    background-color: #ffffff; 
    padding: 20px;
    margin-bottom: 30px; /* Aumenta la separación entre los contenedores */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega un sombreado para mayor visibilidad */
}


